#gameContainer {
	display: none;
}

.playing #menuContainer {
	display: none;
}

.playing #gameContainer {
	display: block;
}

table {
	border: 1px solid black;
	table-layout: fixed;
	width: 400px;
	border-collapse: collapse;
}

td {
	text-align: center;
	border: 1px solid black;
}

td button {
	width: 100%;
}
